mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		.container-fluid
			+e.row.row
				+e.item.col-lg-6.bg-wrap(href="#")
					img(src="img/head-1.jpg", alt="").img-bg
					+e.label.bg-primary Новинка
					+e.title Тахометр Leica TS07 R500 5”
					
				+e.item.col-lg-6.bg-wrap(href="#")
					img(src="img/head-2.jpg", alt="").img-bg
					+e.title Тахометр Leica TS07 R500 5”
					+e.label Хит продаж
				
						
	// end headerBlock