extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug 
include ../blocks/sCategories/_sCategories.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sLogo/_sLogo.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sProdHead/_sProdHead.pug
include ../blocks/sProdBody/_sProdBody.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Товар'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.bg-gray.pt-4
			.container
				+breadcrumb("Главная",'Каталог','Геодезические приборы','Приборы Leica','Тахеометр Leica TS07 R500 (5") AutoHeight')
			+sProdHead
			+sCatalog3
		+sProdBody
		
	+parts('footer')