.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	// color: var(--color, #{$primary});
	// border: 1px solid;
	display: flex;
	position: relative;
	--size: #{rem(56)};
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: var(--size);
		width: rem(56);
		font-size: 1rem;
	}
	&__btn {
		color: inherit;
		height: var(--size);
		position: relative;
		border-radius: 23px;
		background: none;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		border: 1px solid;
		border-radius: rem(12px);
		width: var(--size);
		@include mt;
		&:hover {
			background-color: #000;
			color: #fff;
		}
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		// font-size: 14px;
		width: 100%;
		border: 1px solid $primary !important;
		outline: none !important;
		padding-left: rem(25);
		padding-right: rem(55);
		padding-block: rem(14);
		border-radius: 12.44px;
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		right: rem(20);
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
		color: $primary;
	}
}

.breadcrumb-item {
	width: auto;
	// margin-right: rem(32);
}
