mixin sProdBody(data)
	// start sProdBody
	+b.sProdBody.section#sProdBody&attributes(attributes)
		.container
			.tabs
				.tabs__caption
					.tabs__btn.active Описание
					.tabs__btn Характеристики
				.tabs__wrap
					.tabs__content.active
						h2 Комплектация тахеометра Leica TS07:
						ul
							li Тахеометр
							li Трегер GDF311
							li Аккумулятор GEB334 - 2 шт
							li Портативное ЗУ GKL311 с кабелем для авто-прикуривателя
							li USB флешка
							li Кабель mini-USB GEV223
							li Кейс с ремнями GVP718
						p.text-gray * Комплектация может отличаться, полную комплектацию уточняйте у менеджера.
						p Тахеометр Leica TS07 выполняет геодезические измерения с угловой точностью 5". Дальность работы без отражателя до 500 метров позволяет использовать тахеометр для съемки труднодоступных точек. Прибор имеет электронный компенсатор и поддерживает протокол беспроводного обмена Bluetooth для передачи результатов измерений на полевые контроллеры и другие устройства.
						p Максимальная дальность работы измерительного прибора без отражателя составляет 500 метров. Точность определения линейных расстояний составляет +/- 2 мм. С использованием отражателя рабочий диапазон увеличивается до 3,5 км в обычном режиме или до 10 км при работе в режиме больших расстояний. Благодаря этому, вы можете выполнить съемку больших площадей без выноса опорных точек.
						p Подсветка сетки нитей обеспечивает комфортное наведение зрительной трубы тахеометра Leica TS07 на отражатель при любом уровне освещения. 5-ступенчатая регулировка уровня яркости позволит подобрать интенсивность подсветки в зависимости от конкретных условий.
						p Тахеометр оснащен электронным компенсатором, который облегчает процесс позиционирования прибора перед началом измерений. Устройство самостоятельно компенсирует отклонение в пределах 4° с точностью 1,5’’, что обеспечивает минимальную погрешность при выполнении измерений.
						p Встроенная операционная система Windows CE проста в освоении и обеспечивает комфортную работу с приложениями в привычной среде. Предустановленное ПО Leica FlexField позволяет вести полное сопровождение съемочного процесса тахеометром Leica TS07.
						p Память объемом 2 Гб позволяет хранить проекты с большим количеством точек и другой информации. Вы можете увеличить объем доступной памяти, установив SD-карту объемом до 8 Гб в специальный слот на корпусе.
						p Корпус устройства выполнен согласно стандарту IP66. Это обеспечивает полную работоспособность прибора даже после его попадания в воду и контакта с пылью или песком.
					.tabs__content
						table.table
							thead
								tr
									th(scope="col") Характеристика
									th(scope="col") Значение
							tbody
								tr
									th(scope="row") Угловая точность
									td 5"
								tr
									th(scope="row") Компенсатор
									td Двухосевой
								tr
									th(scope="row") Рабочие температуры
									td от -20 до +50 °C
								tr
									th(scope="row") Диапазон компенсации / Точность
									td ±4' / 2"
								tr
									th(scope="row") Дальность на призму
									td до 10 000 м
								tr
									th(scope="row") Дальность без отражателя
									td до 500 м
								tr
									th(scope="row") Точность на призму
									td 1 мм + 1.5 ppm
	// end sProdBody